<!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      <ul class="social-list">

        <li>
          <a href="https://www.facebook.com/sami.yt.3990" class="social-link">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>

        <li>
          <a href="https://twitter.com/youngsamiyt?t=xOa0WpArAmwCL9Gbu03C1g&s=09" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>

        <li>
          <a href="https://www.instagram.com/youngseshon" class="social-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>

        <li>
          <a href="https://linkedin.com/in/youngseshon" class="social-link">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>

        <li>
          <a href="https://github.com/AkaSesh" class="social-link">
            <ion-icon name="logo-github"></ion-icon>
          </a>
        </li>

      </ul>

      <p class="text-center">&copy; 2023 copyright all right reserved</p>

    </div>
  </footer>