<main>
    <article>

      <!-- 
        - #PORTFOLIO
      -->

      <section class="section portfolio" aria-labelledby="portfolio-label" id="portfolio">
        <div class="container">

          <h2 class="section-title headline-md text-center" id="portfolio-label">Latest Projects</h2>

          <ul class="portfolio-list">

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="/assets/images/Project1.png" width="800" height="540" loading="lazy"
                    alt="Website Design for Tikur anbassa Hospital" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Web Design</span>

                  <h3 class="title-md">Internship Website Design for Tikur anbassa Hospital</h3>

                  <p class="card-text">
                    I design and develop stylish, good website For Tikur Anbassa Hospital for Internship.
                  </p>

                  <a href="https://github.com/AkaSesh/Demo/tree/main/Final%20P" class="btn btn-primary">View Project</a>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="/assets/images/CX1.png" width="800" height="540" loading="lazy"
                  alt="Website Design for ECX" class="img-cover">
                  <a href="#" class="btn-icon" aria-label="More about Website Design">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Web Design</span>

                  <h3 class="title-md">Website Design of Ethiopian Commodity Exchange(ECX or CX)</h3>

                  <p class="card-text">
                    The main objective of doing this project is to develop a web-based commodity exchange system
that coordinates better, links faster, and protects the interests of both sellers and buyers. 
                  </p>

                  <a href="/assets/Projects/ECX(CX).pdf" class="btn btn-primary" download="">Download Project PDF</a>

                </div>

              </div>
            </li>
            
          </ul>

        </div>
      </section>

    </article>
  </main>