<main>
    <article>

      <!-- 
        - #SERVICE
      -->

      <section class="section service has-bg-image" aria-labelledby="service-label"
        style="background-image: url('assets/images/service-bg.png')" id="services">
        <div class="container">

          <h2 class="section-title headline-md text-center" id="service-label">My Services</h2>

          <ul class="service-list">

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(177, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="phone-portrait-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Web Design</h3>

                  <p class="body-sm">
                    Design Responsive Websites With Angular js, React js.
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(41, 99%, 64%)">

                <div class="card-media">
                  <ion-icon name="laptop-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Development</h3>

                  <p class="body-sm">
                    App Dev't With React js.
                  </p>
                </div>

              </div>
            </li>

            
            
            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(76, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="code-slash-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Web Development</h3>

                  <p class="body-sm">
                   Skilled With HTML, PHP, CSS, JS.
                  </p>
                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>
      

    </article>
  </main>
