<main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" aria-label="home" id="home">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle">Hello, My name is Samuel Tesfaye</p>

            <h1 class="headline-lg">I'm a Developer</h1>

            <p class="hero-text body-md">
              Addis Ababa, Ethiopia
            </p>

            <a href="#letstart" class="btn btn-primary">Let's Start</a>

          </div>

          <figure class="hero-banner">
            <img src="/assets/images/Graduate.jpg" width="680" height="645"
              alt="Samuel Tesfaye" class="w-100">
          </figure>

        </div>
      </section>





      <!-- 
        - #ABOUT
      -->

      <section class="section about" aria-label="about me" id="letstart">
        <div class="container">

          <figure class="about-banner">
            <img src="/assets/images/CultureDay.jpg" width="580" height="554" loading="lazy"
              alt="Samuel Tesfaye" class="w-100">
          </figure>

          <div class="about-content">

            <h2 class="title-lg">I'm a Freelancer, Front-end Developer with 1 years of experience in WEB DEVELOPING.</h2>

            <p class="body-md section-text">
              I'm a Freelancer Front-end Developer with over 1 years of experience. I'm from Addis Ababa. I code and
              create web elements. I like work with new people. Of course, New people new Experiences.
            </p>

            <ul class="about-list">

              <li>
                <p class="list-text">
                  <strong class="strong title-md">10+</strong> Projets Completed
                </p>
              </li>

            </ul>

            <div class="wrapper">
              <a href="mailto:youngseshon@gmail.com" class="btn btn-primary">Contact Me</a>

              <a href="#portfolio" class="btn btn-secondary">Portfolio</a>
            </div>

          </div>

        </div>
      </section>





      <!-- 
        - #SKILL
      -->

      <section class="section skill" aria-labelledby="skill-label">
        <div class="container">

          <div class="skill-content">

            <h2 class="section-title headline-md" id="skill-label">My Skills</h2>

            <ul class="skill-list">

              <li>
                <div class="card card-sm" style="background-color: hsl(177, 39%, 72%)">

                  <div class="card-media">
                  </div>

                  <h2 class="card-title">HTML</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(41, 99%, 64%)">

                  <div class="card-media">
                  </div>

                  <h2 class="card-title">CSS</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(19, 97%, 85%)">

                  <div class="card-media">
                  </div>

                  <h2 class="card-title">React JS</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(221, 100%, 79%)">

                  <div class="card-media">
                  </div>

                  <h2 class="card-title">Angular</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(245, 100%, 90%)">

                  <div class="card-media">
                  </div>

                  <h2 class="card-title">App Dev</h2>

                </div>
              </li>

            </ul>

          </div>

          <figure class="skill-banner">
            <img src="/assets/images/Process.jpg" width="550" height="1000" loading="lazy"
              alt="Think Critically" class="w-100">
          </figure>

        </div>
      </section>

      <section class="cta">
        <div class="container">
          <h2 class="title-lg">Intrested working with me?</h2>

            <div>
              <a href="/assets/CV/SAMUEL_TESFAYE_CV.pdf" class="btn btn-primary" download="">Download My CV</a>
            </div>

          <a href="mailto:youngseshon@gmail.com" class="btn btn-tertiary">Contact Now</a>
        </div>
      </section>

    </article>
  </main>
